@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700&family=Fahkwang:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');
body {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
}
#hero{
  position: relative; 
  height: 100vh;
  color: white;

}
#hero img{
  position: absolute;
  top: 0;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  filter: brightness(70%);
}
#hero .hero-content{
  position: absolute;
  top: 0;
  
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center
  
}
#hero .center-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#hero .center-text h1{
  margin: 0.5rem 0;
  font-family: 'Cormorant', serif;
  font-size: 5rem;
}
#hero .center-text .line{
  height: 0.07rem;
  width: 80%;
  background-color: white;
}
#hero .center-text h3{
  font-family: 'Fahkwang', sans-serif;
  font-weight: 200;
}

#hero .hero-btn{
  position: absolute;
  bottom: 2rem;
  right: 8rem;
}
#hero .hero-btn button{
  width: 10rem;
  height: 3rem;
  background-color: transparent;
  color: white;
  border: 0.1rem solid white;
}

main {
  margin: 4rem 8rem 6rem 8rem;
  font-family: 'Roboto', sans-serif;
}
section {
  margin-bottom: 4rem;
}
section h2{
  margin: 0 0 1rem 0; 
  font-size: 2.5rem;
}
.category-list {
  display: flex;
}
.category-content{
  position: relative;
  width: 15rem;
  height: 4rem;
  border: none;
  margin-right: 2rem;
}
.category-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
  filter: brightness(50%);
}
.category-content p{
  position: absolute;
  bottom: 0.2rem;
  right: 1rem;
  color: white;
  font-size: 24px;
  margin: 0;
}

.explore {
  /* background-color: #00B2FF; */

}
.explore-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 3rem;
  column-gap: 5%;
}
.explore-content {
  position: relative;
  background-color: antiquewhite;
  min-width: 15rem;
  width: 30%;
  height: 20rem;
}
.explore-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}
.explore-content p{
  position: absolute;
  bottom: 0.2rem;
  left: 1rem;
  height: 3.3rem;
  color: white;
  font-size: 1.3rem;
  margin: 0;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.explore-content .floating-detail {
  display: none;
}
.explore-content .floating-detail-active {
  display: block;
  background-color: #00B2FF;
}

footer{
  background-color: lightgray;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}