body {
  margin: 0;
  background-color: lightgray;
}
main {
  margin: 8rem 8rem 6rem 8rem;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
h1{
  font-size: 42px;
  text-transform: capitalize;
}

.post-content {
  /* background-color: white; */
  display: flex;
  width: 100%;
}

.post-content img{
  width: 20rem;
  height: 13rem;
  object-fit: cover;
}

.post-content .detail{
  padding-left: 3rem;
}
.post-content .detail h2{
  margin: 0.5rem 0;
  font-size: 28px;
}
.post-content .detail p{
  color: gray;
  max-height: 6.5rem;
  overflow-y: hidden;
}

